body {
	width:500px;
	display:table;
	margin:0 auto;
	border-width:2px;
	border-style:solid;
	padding:10px;
	margin-top:10px;
}
h1 {
	margin-top:0px;
	text-align:center;
	font-family:Georgia;
	text-shadow: 1px 1px #C0C0C0;
}
#contentContainer {
	font-family:Arial, Helvetica, sans-serif;

}
